In [245]:
%matplotlib inline
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from pylab import rcParams

#Reading file and using as dataframe
path="."
filename_read=os.path.join(path, "skyserver - Original.csv")
df=pd.read_csv(filename_read)

#Check for data types
df.info()
#Class is of 'object' data type, and no null values



#Removing Quasars as we are focussing on classifying Star's and Galaxies
df = df.drop(df[df['class'] == 'QSO'].sample(frac=1.00).index)
print(df['class'].unique())
print(df.count())

#Check for excessively high standard deviation to determine if there may be outliers
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   objid      10000 non-null  float64
 1   ra         10000 non-null  float64
 2   dec        10000 non-null  float64
 3   u          10000 non-null  float64
 4   g          10000 non-null  float64
 5   r          10000 non-null  float64
 6   i          10000 non-null  float64
 7   z          10000 non-null  float64
 8   run        10000 non-null  int64
 9   rerun      10000 non-null  int64
 10  camcol     10000 non-null  int64
 11  field      10000 non-null  int64
 12  specobjid  10000 non-null  float64
 13  class      10000 non-null  object
 14  redshift   10000 non-null  float64
 15  plate      10000 non-null  int64
 16  mjd        10000 non-null  int64
 17  fiberid    10000 non-null  int64
dtypes: float64(10), int64(7), object(1)
memory usage: 1.4+ MB
['STAR' 'GALAXY']
objid        9150
ra           9150
dec          9150
u            9150
g            9150
r            9150
i            9150
z            9150
run          9150
rerun        9150
camcol       9150
field        9150
specobjid    9150
class        9150
redshift     9150
plate        9150
mjd          9150
fiberid      9150
dtype: int64

,objid,ra,dec,u,g,r,i,z,run,rerun,camcol,field,specobjid,redshift,plate,mjd,fiberid
count,9.150000e+03,9150.000000,9150.000000,9150.000000,9150.000000,9150.000000,9150.000000,9150.000000,9150.000000,9150.0,9150.000000,9150.000000,9.150000e+03,9150.000000,9150.000000,9150.000000,9150.000000
mean,1.237650e+18,175.349953,14.303436,18.589297,17.250536,16.686981,16.418556,16.250796,975.917596,301.0,3.644481,302.138251,1.663396e+18,0.043896,1477.306448,52966.687104,350.422842
std,1.533524e+05,47.844894,24.879069,0.842478,0.876612,0.961771,1.027774,1.085480,272.211353,0.0,1.665374,162.636560,1.986829e+18,0.052491,1764.647895,1503.083498,205.659557
min,1.237650e+18,8.235100,-5.382632,12.988970,12.799550,12.431600,11.947210,11.610410,308.000000,301.0,1.000000,11.000000,2.995780e+17,-0.004136,266.000000,51578.000000,1.000000
25%,1.237650e+18,157.584047,-0.541007,18.124177,16.737642,16.103342,15.790297,15.551233,752.000000,301.0,2.000000,185.000000,3.400232e+17,0.000050,302.000000,51900.000000,183.000000
50%,1.237650e+18,180.326741,0.384792,18.822605,17.415660,16.757515,16.448885,16.263595,756.000000,301.0,4.000000,299.000000,4.989465e+17,0.030734,443.000000,51999.000000,347.000000
75%,1.237650e+18,201.069175,14.646150,19.246003,17.893400,17.369435,17.097865,16.959817,1331.000000,301.0,5.000000,413.000000,2.881348e+18,0.080849,2559.000000,54468.000000,508.000000
max,1.237650e+18,260.884382,68.542265,19.599900,19.918970,24.802040,28.179630,22.833060,1412.000000,301.0,6.000000,768.000000,9.468830e+18,0.855881,8410.000000,57481.000000,1000.000000

In [ ]:
# dropping obselete features 
df.drop('objid',1,inplace=True) 
df.drop('rerun',1,inplace=True)

#Check for count difference
sns.countplot(df['class'])
df['class'].value_counts()

#Heatmap
def plot_correlation(datab):
    rcParams['figure.figsize']=15,20
    fig= plt.figure()
    sns.heatmap(datab.corr(), annot=True, fmt= ".2f")
    plt.show()
    
plot_correlation(df)

X=df.iloc[:, 15]
y=df.iloc[:,14:15]
X=df.drop(['class'],axis=1)

#Scaling
scale=StandardScaler()
X=scale.fit_transform(X)

#Split data
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

#Gaussian model
gnb = GaussianNB()
gnb.fit(X_train, y_train)
y_pred = gnb.predict(X_test)
y_pred=y_pred.reshape(1830,1)

#Accuracy
print('Accuracy Score of',gnb,'is:')
print(accuracy_score(y_test,y_pred))